<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ab astro ad terram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/astro_logo.PNG">
    </head>
    <body>
        <header>
            <h1 id="title">ab astro ad terram</h1>
            <h2 class="extra-info large">the journey of a fallen star</h2>
        </header>
        <main>
            {% if error %}
                <p class="Warning">The database has not yet initialized. Please refresh the page. </p>
            {% else %}
            <div id="sidebar">
                <h3>Location: {{ location['location_name'] }}</h3>
                <p class="extra-info">{{ location['description'] }}</p>
                <h3>Available Objects: </h3>
                {% for object in objects %}
                    <p class="extra-info">--> {{ object['name'] }}</p>
                {% endfor %}
            </div>
            <div id="main-content">
                <div id="story">
                    {% for story in story_log %}
                        <p class="{{ story['category'] }}">{{ story['entry'] }}</p>
                    {% endfor %}
                </div>
                <div id="input-box">
                    <form method="post">
                        <input type="text" id="user_input" name="user_input" autocomplete="off" autofocus>
                    </form>
                </div>
            </div>
            {% endif %}
        </main>
        <script>
            window.onload = function () {
                const storyBox = document.getElementById("story");
                if (storyBox) {
                    storyBox.scrollTop = storyBox.scrollHeight;
                }
            };
        </script>
    </body>
</html>