<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ab astra ad terram</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1 id="title">ab astra ad terram</h1>
            <h2 class="extra-info large">the journey of a fallen star</h2>
            <span id="progress-bar"></span>
            <span id="stats">
                <span id="health">Health: 100</span>
                <span id="mana">Mana: 0</span>
                <span id="gold">Gold: 0</span>
            </span>
        </header>
        <main>
            <div id="sidebar">
                <h3>Quests</h3>
                {% for quest in quests %}
                    <p><span class="highlighted">{{ quest['quest_name'] }}</span><br><span class="extra-info">{{ quest['description'] }}</span></p>
                {% endfor %}
                <h3>Location: {{ location['location_name'] }}</h3>
                <p class="extra-info">{{ location['description'] }}</p>
            </div>
            <div id="main-content">
                <div id="story">
                    {% for story in story_log %}
                        <p class="{{ story['category'] }}">{{ story['entry'] }}</p>
                    {% endfor %}
                </div>
                <div id="input-box">
                    <form method="post">
                        <input type="text" id="user_input" name="user_input" autocomplete="off">
                    </form>
                </div>
            </div>
        </main>
        <script>
            window.onload = function () {
                const storyBox = document.getElementById("story");
                if (storyBox) {
                    storyBox.scrollTop = storyBox.scrollHeight;
                }
            };
        </script>
    </body>
</html>